.gallery{
    width: 150px;
    position: relative;
}
.image img{
    width: 100%;
}
.overlay{
 position: absolute;
 top: 0;
 left: 0; 
 width: 100%;
 height: 100%;
 background: rgb(14, 14, 14);
 color: rgb(132, 220, 255);
 opacity: 0;
 display: flex;
 align-items: center;
 justify-content: center;
transition: opacity 0.3s;
}
.image:hover .overlay{
    opacity: 0.5;
}